BUCKET_TYPE="hippius"
BUCKET_NAME="thistime"
BUCKET_COMPATIBLE_ENDPOINT="s3.hippius.com"
BUCKET_COMPATIBLE_ACCESS_KEY="hip_ff8066652819e82478327158"
BUCKET_COMPATIBLE_SECRET_KEY="C2CnlrD8CyT_LXMkECAvKeRk1WGplM2f_R9Iu9jVK68"


#validators only
PEXELS_API_KEY="Your Pexels account api key"
WANDB_API_KEY="Your wandb api key"